{% include "adminheader.html" %}





{#<head>#}
{#     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">#}
{#</head>#}

<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Chit Management <small></small></h3>
              </div>




              <div class="title_right">

                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                  <div class="input-group">




{#                    <input type="text" class="form-control" placeholder="Search for...">#}
{#                    <span class="input-group-btn">#}
{#                      <button class="btn btn-default" type="button">Go!</button>#}
{#                    </span>#}
                  </div>

                </div>

              </div>

            </div>
            <div class="clearfix">
</div>
        <a href="{% url 'addchit' %}" class="btn btn-sm btn-warning" align="right" >Add New</a>
            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="x_panel">
                  <div class="x_title">
                    <h2>Chit details  <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
{#                    <p class="text-muted font-13 m-b-30">#}
{#                      DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>#}
{#                    </p>#}
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                            <th>Sl No</th>
                          <th>Chit Number</th>
                          <th>Name</th>
                          <th>Chit Amount</th>
                          <th>Duration</th>
                          <th>Start Date</th>
                            <th>End Date</th>
                            <th>Joining Due Date</th>
                             <th>Payment Due Date</th>
                            <th>Current installment</th>
                            <th>Status</th>
{#                          <th>Salary</th>#}
                            <th>Actions</th>
                        </tr>
                      </thead>


                      <tbody>
                       {% for x in chitobj %}
                        <tr>
                         <td>{{ forloop.counter }}</td>
                          <td>{{ x.id }}</td>
                          <td> {{ x.name }}</td>
                          <td>{{ x.chit_amount }} </td>
                          <td>{{ x.period }}</td>
                             <td>{{ x.start_date }} </td>
                             <td>{{ x.end_date }} </td>
                             <td>{{ x.due_date }} </td>
                             <td>{{ x.pay_due_date }} </td>
                             <td>{{ x.current_installment }} </td>
                            <td>{{ x.status }} </td>
                          <td  style="width: 12%;" align="center">
                              <a href="{% url 'update_chit' x.id %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                               <a onclick="return confirm('Are you sure?')" href="{% url 'delete_chit' x.id %}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>

                          </td>
{#                          <td>$320,800</td>#}
                        </tr>

                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
                <script src="js/main.js"></script>
                <script>
$(document).ready(function() {
    $('#datatable').DataTable();
} );


</script>







{% include "adminfooter.html" %}
